@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  height: 100%;
  color: white;
}

.gameContent__wrapper {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 1rem 0rem;
  background-color: #52525c;
  border-radius: 1rem;
}

@media screen and (max-width: 350px) {
  .gameContent__wrapper {
    padding: 1rem 1rem;
  }
}
