.question__wrapper {
  opacity: 0;
  transition: all 0.2s;
}

.show {
  opacity: 1;
}

.images {
  width: 155px;
  height: auto;
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.actor {
  transform: rotate(-5deg);
}

.movie {
  transform: rotate(5deg);
}

.question__button {
  padding: 0.5rem 0rem;
  width: 100px;
  font-size: 1.5rem;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  border-radius: 1rem;
  margin-top: 1rem;
}
.yes {
  margin-right: 10px;
}
.no {
  margin-left: 10px;
}

.question__button:active {
  color: black;
  transition: all 0s !important;
}

.question__button:hover {
  opacity: 0.65;
  transition: all 0.2s ease-in;
}

.question__text {
  height: 6rem;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 210px;
}

@media screen and (max-width: 568px) {
  .images {
    width: 135px;
  }
  .question__text {
    height: 4rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 350px) {
  .question__button {
    width: 70px;
    font-size: 1.3rem;
  }
  .images {
    width: 105px;
  }
}
