body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#root {
  height: 100%;
  width: 100%;
  position: fixed;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  background-size: 200% 200%;
  animation: gradient 20s ease infinite;
}
